.checkout {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.checkout h1 {
  font-size: 1.5rem;
  text-decoration: underline;
}
